:root{
  --font: "Roboto", sans-serif;
  --azul: #2271D1;
  --negrofondocampos: #191919;
  --griscampos:#A5A5A5;
  --blanco: #FFFFFF;
  --negro: #000000;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

